# Import Libs and DataFrames

In [ ]:
import pandas as pd


df_trn = pd.read_csv("../data/dados_projeto_evasao_treino.csv")
df_tst = pd.read_csv("../data/dados_projeto_evasao_teste.csv")

## DataFrames

In [47]:
df_trn

,Unnamed: 0,ds_cidade_usuario,ts_primeiro_acesso,ts_ultimo_acesso,nr_dias_desde_primeiro_acesso,nr_dias_desde_ultimo_acesso,nr_atividades_sinalizadas,nr_atividades_mapeadas,nr_discussoes_forum_postadas,nr_questionarios_abandonados,...,nr_questoes_parciais,vl_desempenho_usuario,vl_media_questoes_por_dia,vl_engajamento_notas,nr_itens_avaliados,nr_itens_nao_respondidos,vl_media_notas,nr_submissoes_codigo,vl_media_submissoes_codigo,vl_submissoes_por_dias_ativos
0,1,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
1,3,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
2,4,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
3,5,NaN,1692744534,1693928454,20,6,0,4,0,0,...,0,1.000000,NaN,NaN,1,62,1.000000,0,NaN,NaN
4,6,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,492,curitiba,1668077732,1668083176,305,305,0,0,0,0,...,0,0.767437,NaN,NaN,2,43,0.689917,0,NaN,NaN
396,493,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
397,496,Campinas,1691607939,1691608000,33,33,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
398,498,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN
399,499,Campinas,0,0,19612,19612,0,0,0,0,...,0,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN

# Convertendo timeStamps

In [48]:
df_trn['ts_primeiro_acesso'] = pd.to_datetime(df_trn['ts_primeiro_acesso'], unit='s', errors='coerce')
df_trn['ts_ultimo_acesso'] = pd.to_datetime(df_trn['ts_ultimo_acesso'], unit='s', errors='coerce')

df_tst['ts_primeiro_acesso'] = pd.to_datetime(df_tst['ts_primeiro_acesso'], unit='s', errors='coerce')
df_tst['ts_ultimo_acesso'] = pd.to_datetime(df_tst['ts_ultimo_acesso'], unit='s', errors='coerce')

# Tratando valores faltantes

In [49]:
print(df_trn.isnull().sum())

Unnamed: 0                                0
ds_cidade_usuario                        54
ts_primeiro_acesso                        0
ts_ultimo_acesso                          0
nr_dias_desde_primeiro_acesso             0
nr_dias_desde_ultimo_acesso               0
nr_atividades_sinalizadas                 0
nr_atividades_mapeadas                    0
nr_discussoes_forum_postadas              0
nr_questionarios_abandonados              0
nr_questionarios_finalizados              0
vl_medio_tempo_questionario             289
vl_medio_tempo_questionario_avaliado    293
vl_desempenho_questionario              373
nr_intervalos_uso                       191
nr_dias_uso                               0
vl_medio_atividade_diaria               191
vl_engajamento_usuario_por_intervalo    371
vl_engajamento_usuario_intradia         371
nr_interacoes_usuario                     0
nr_dias_engajamento_discussao             0
nr_dias_engajamento_questionario          0
nr_engajamento_discussao                  0
nr_engajamento_questionario               0
nr_questoes_respondidas                   0
nr_questoes_corretas                      0
nr_questoes_erradas                       0
nr_questoes_parciais                      0
vl_desempenho_usuario                   287
vl_media_questoes_por_dia               339
vl_engajamento_notas                    339
nr_itens_avaliados                        0
nr_itens_nao_respondidos                  0
vl_media_notas                          287
nr_submissoes_codigo                      0
vl_media_submissoes_codigo              396
vl_submissoes_por_dias_ativos           392
dtype: int64

In [50]:
df_trn = df_trn.fillna(0)
df_tst = df_tst.fillna(0)

# Tratando Faltantes KNN imputer

In [51]:
# #remover colunar que tenham mais de 70% de valores nulos
# df_trn = df_trn.dropna(thresh=len(df_trn) * 0.3, axis=1)
# df_tst = df_tst.dropna(thresh=len(df_tst) * 0.3, axis=1)

# #imputar valores nulos com KnNImputer
# imputer = KNNImputer(n_neighbors=5)
# df_trn_imputed = pd.DataFrame(imputer.fit_transform(df_trn.select_dtypes(include=['float64', 'int64'])), 
#                               columns=df_trn.select_dtypes(include=['float64', 'int64']).columns)
# df_tst_imputed = pd.DataFrame(imputer.transform(df_tst.select_dtypes(include=['float64', 'int64'])),
#                               columns=df_tst.select_dtypes(include=['float64', 'int64']).columns)
# #Concatenar os quadros de dados imputados com as colunas não numéricas originais
# df_trn = pd.concat([df_trn.select_dtypes(exclude=['float64', 'int64']), df_trn_imputed], axis=1)
# df_tst = pd.concat([df_tst.select_dtypes(exclude=['float64', 'int64']), df_tst_imputed], axis=1)

In [52]:
print(df_trn.isnull().sum())

Unnamed: 0                              0
ds_cidade_usuario                       0
ts_primeiro_acesso                      0
ts_ultimo_acesso                        0
nr_dias_desde_primeiro_acesso           0
nr_dias_desde_ultimo_acesso             0
nr_atividades_sinalizadas               0
nr_atividades_mapeadas                  0
nr_discussoes_forum_postadas            0
nr_questionarios_abandonados            0
nr_questionarios_finalizados            0
vl_medio_tempo_questionario             0
vl_medio_tempo_questionario_avaliado    0
vl_desempenho_questionario              0
nr_intervalos_uso                       0
nr_dias_uso                             0
vl_medio_atividade_diaria               0
vl_engajamento_usuario_por_intervalo    0
vl_engajamento_usuario_intradia         0
nr_interacoes_usuario                   0
nr_dias_engajamento_discussao           0
nr_dias_engajamento_questionario        0
nr_engajamento_discussao                0
nr_engajamento_questionario             0
nr_questoes_respondidas                 0
nr_questoes_corretas                    0
nr_questoes_erradas                     0
nr_questoes_parciais                    0
vl_desempenho_usuario                   0
vl_media_questoes_por_dia               0
vl_engajamento_notas                    0
nr_itens_avaliados                      0
nr_itens_nao_respondidos                0
vl_media_notas                          0
nr_submissoes_codigo                    0
vl_media_submissoes_codigo              0
vl_submissoes_por_dias_ativos           0
dtype: int64

# removendo dados de pessoas que nunca acessaram

In [53]:
df_trn = df_trn[df_trn['ts_primeiro_acesso'].dt.year != 1970]
df_trn = df_trn[df_trn['ts_ultimo_acesso'].dt.year != 1970]

df_tst = df_tst[df_tst['ts_primeiro_acesso'].dt.year != 1970]
df_tst = df_tst[df_tst['ts_ultimo_acesso'].dt.year != 1970]

print(len(df_trn))
print(len(df_tst))

205
46

# logica de evasão

In [54]:
def esta_em_ferias(data_str):
    try:
        data = pd.to_datetime(data_str)
        mes = data.month
        dia = data.day

        # Julho
        if (mes == 6 and dia >= 30) or (mes == 7 and dia <= 31):
            return True

        # Dezembro até Fevereiro
        if (mes == 12 and dia >= 15) or (mes in [1, 2]) or (mes == 2 and dia <= 28):
            return True

        return False
    except:
        return False



def definir_evasao(row):
    score = 0
    
    if row['nr_dias_desde_primeiro_acesso'] < 15:
        return 0

    if row['nr_dias_desde_ultimo_acesso'] >= 30 and not esta_em_ferias(row['ts_ultimo_acesso']):
        score += 3

    if row['nr_submissoes_codigo'] == 0:
        score += 1

    if row['nr_questionarios_finalizados'] == 0:
        score += 1

    if row['nr_interacoes_usuario'] < 3:
        score += 1

    if row['nr_dias_uso'] < 5:
        score += 1

    return 1 if score >= 4 else 0

In [55]:
df_trn['nr_abandono'] = df_trn.apply(definir_evasao, axis=1)
df_tst['nr_abandono'] = df_tst.apply(definir_evasao, axis=1)

## quantidade de abandono

In [56]:
print('treino ',df_trn["nr_abandono"].value_counts())
print('teste ',df_tst["nr_abandono"].value_counts())

treino  nr_abandono
0    149
1     56
Name: count, dtype: int64
teste  nr_abandono
0    32
1    14
Name: count, dtype: int64

# dados relevantes

In [57]:
df_trn['vl_taxa_acerto_questoes'] = df_trn['nr_questoes_corretas'] / df_trn['nr_questoes_respondidas'].replace(0, 1)#Replace para evitar divisões por zero
df_trn['vl_forum_por_dia'] = df_trn['nr_discussoes_forum_postadas'] / df_trn['nr_dias_uso'].replace(0, 1)
df_trn['vl_dias_entre_acessos'] = df_trn['nr_dias_desde_primeiro_acesso'] / df_trn['nr_intervalos_uso'].replace(0, 1)
df_trn['vl_submissoes_por_dia'] = df_trn['nr_submissoes_codigo'] / df_trn['nr_dias_uso'].replace(0, 1)
df_trn['nr_periodo_ferias'] = df_trn['ts_ultimo_acesso'].apply(esta_em_ferias).astype(int)

df_tst['vl_taxa_acerto_questoes'] = df_tst['nr_questoes_corretas'] / df_tst['nr_questoes_respondidas'].replace(0, 1)
df_tst['vl_forum_por_dia'] = df_tst['nr_discussoes_forum_postadas'] / df_tst['nr_dias_uso'].replace(0, 1)
df_tst['vl_dias_entre_acessos'] = df_tst['nr_dias_desde_primeiro_acesso'] / df_tst['nr_intervalos_uso'].replace(0, 1)
df_tst['vl_submissoes_por_dia'] = df_tst['nr_submissoes_codigo'] / df_tst['nr_dias_uso'].replace(0, 1)
df_tst['nr_periodo_ferias'] = df_tst['ts_ultimo_acesso'].apply(esta_em_ferias).astype(int)

In [58]:
df_trn

,Unnamed: 0,ds_cidade_usuario,ts_primeiro_acesso,ts_ultimo_acesso,nr_dias_desde_primeiro_acesso,nr_dias_desde_ultimo_acesso,nr_atividades_sinalizadas,nr_atividades_mapeadas,nr_discussoes_forum_postadas,nr_questionarios_abandonados,...,vl_media_notas,nr_submissoes_codigo,vl_media_submissoes_codigo,vl_submissoes_por_dias_ativos,nr_abandono,vl_taxa_acerto_questoes,vl_forum_por_dia,vl_dias_entre_acessos,vl_submissoes_por_dia,nr_periodo_ferias
3,5,0,2023-08-22 22:48:54,2023-09-05 15:40:54,20,6,0,4,0,0,...,1.000000,0,0.0000,0.0000,0,0.022727,0.0,1.428571,0.000000,0
5,7,0,2023-07-17 16:43:41,2023-09-05 18:13:56,56,6,0,0,0,0,...,0.990476,47,6.7143,15.6667,0,0.822581,0.0,1.120000,1.807692,0
7,10,Campinas,2023-08-23 20:09:55,2023-08-24 19:29:29,19,18,0,0,0,0,...,0.000000,0,0.0000,0.0000,1,0.000000,0.0,19.000000,0.000000,0
8,12,Campinas,2023-08-30 01:39:14,2023-08-30 01:41:51,13,13,0,0,0,0,...,0.000000,0,0.0000,0.0000,0,0.000000,0.0,13.000000,0.000000,0
9,13,0,2023-08-28 01:52:06,2023-08-28 01:53:20,15,15,0,0,0,0,...,0.000000,0,0.0000,0.0000,1,0.000000,0.0,15.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,486,Blumenau,2023-02-03 15:00:49,2023-08-30 22:15:37,220,12,0,12,0,0,...,0.000000,0,0.0000,0.0000,0,0.000000,0.0,1.057692,0.000000,0
392,487,Campinas,2023-08-30 22:58:23,2023-09-10 22:27:53,12,1,0,0,0,0,...,1.000000,0,0.0000,0.0000,0,0.661017,0.0,1.090909,0.000000,0
394,489,Campinas,2023-09-07 14:36:00,2023-09-11 21:00:38,4,0,0,0,0,0,...,0.990380,6,0.0000,6.0000,0,0.859375,0.0,1.000000,1.500000,0
395,492,curitiba,2022-11-10 10:55:32,2022-11-10 12:26:16,305,305,0,0,0,0,...,0.689917,0,0.0000,0.0000,1,0.378378,0.0,1.117216,0.000000,0
397,496,Campinas,2023-08-09 19:05:39,2023-08-09 19:06:40,33,33,0,0,0,0,...,0.000000,0,0.0000,0.0000,1,0.000000,0.0,33.000000,0.000000,0

# removendo colunas não mais nescessarias

In [59]:
colunas_remover = ['ts_primeiro_acesso', 'ts_ultimo_acesso', 'ds_cidade_usuario','nr_interacoes_usuario','Unnamed: 0']
df_trn = df_trn.drop(columns=colunas_remover)
df_tst = df_tst.drop(columns=colunas_remover)

# Salvando Copia dados limpos

In [60]:
df_trn.to_csv('../data/guiDataCleanInfill0Treino.csv', index=False)
df_tst.to_csv('../data/guiDataCleanInfill0Teste.csv', index=False)